.aboutPage{

}

.aboutDiv{
    @apply
    h-auto
    w-full
    px-4
    py-8
    flex flex-row
    flex-wrap
}

.aboutHexContainer{
    @apply
    w-full
    md:w-2/3
    left-0
    m-auto
}

.profileHex{
    @apply
    w-[80vw]
    md:w-[30vw]
    m-auto
    md:ml-52
    drop-shadow-[10px_15px_10px_rgba(0,0,0,0.5)]

}
.auxHex{
    @apply
    w-[12vw]
    md:w-[7vw]
    top-32
    mr-4
    md:mr-24
    ml-auto
    drop-shadow-[7px_10px_15px_rgba(0,0,0,0.5)]
}

.auxHex:hover{
    @apply
    scale-105
}

.auxHex1:hover{
    @apply
    scale-105
}

.auxHex1{
    @apply
    w-[20vw]
    md:w-[10vw]
    ml-8
    md:ml-24
    mr-auto
    -top-12
    drop-shadow-[7px_10px_15px_rgba(0,0,0,0.5)]

}

.aboutContent {
    @apply
    m-auto
    w-full
    md:w-1/3
    text-2xl
    flex flex-col
    gap-6
    ml-4
    md:-ml-16

}
.aboutText{
    @apply
    mt-8

    md:mt-auto
    align-middle

}

.docLinks{
    @apply
    flex flex-row flex-wrap


}