.faqpage{
    @apply
    flex flex-col
    m-8
    w-full
    items-center
    h-auto
    pr-10
}

.faqs{
    @apply
    w-full
    md:w-5/6
    pr-2
    md:pr-0
}

.questions{
    @apply
    py-2
    m-auto
}

.questions span{
    @apply
    text-left
}

.header{
    @apply
    text-4xl
    mb-4
    text-center
}

.text{
    @apply
    mb-8
}

.accent {
    @apply
    font-bold text-secondary-300
}

.answers{
    @apply
    text-left
    justify-items-start
    md:ml-4
}

/*.answers span{*/
/*    @apply*/
/*    ml-4*/
/*}*/

