.card{
    @apply
    w-[80vw]
    h-[45vh]
    /*min-h-[55vh]*/
    /*h-auto*/
    md:w-[35vw] md:h-[35vh]
    lg:w-[25vw] lg:h-[50vh]
    xl:w-[20vw] xl:h-[50vh]
    border-2
    border-zinc-200
    rounded-2xl
    overflow-hidden
}

.featured{
    @apply
    w-[100%]
    h-[65%]
    relative
}

.cardContent{
    @apply
    relative h-[35%]
}

.cardName{
    @apply
    text-lg
    lg:text-2xl
    font-bold
    uppercase
    border-b-2 border-primary
    w-auto
}

.cardTools{
    @apply
    rounded-full
    text-sm
    md:text-base
    font-bold
    bg-zinc-700
    px-3 mr-2
}